@model LoginViewModel

<form asp-action="Login" asp-controller="Authorisation" method="post">
    <div>
        <p>Nazwa użykownika</p>
        <input asp-for="UserName" />
    </div>
    <div>
        <p>Hasło</p>
        <input asp-for="Password" />
    </div>
    <input type="submit" value="Zaloguj"/>
</form>