@model LoginViewModel

<form asp-action="Login" asp-controller="Authorisation" method="post" class="login">

    <input asp-for="UserName" placeholder="Nazwa użykownika"/>
    
    <input asp-for="Password" placeholder="Hasło"/>
    
    <input type="submit" value="Zaloguj się"/>
</form>