@model RegisterViewModel

<form asp-action="Register" asp-controller="Authorisation" method="post" class="login" enctype="multipart/form-data">

    <input asp-for="UserName" placeholder="Nazwa użykownika"/>

    <input asp-for="Email" placeholder="Email"/>
    
    <input asp-for="Password" placeholder="Hasło"/>
    
    <label>Zdjęcie profilowe</label>
    <input asp-for="Image" />

    <input type="submit" value="Utwórz konto"/>
</form>