<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lepszy Wykop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/authorisation.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/mainpage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/addfinding.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/finding.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/css/comments.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <div class="nav-container">
            <a asp-action="Index" asp-controller="Home">Strona główna</a>
            <div class="account-actions">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Home" asp-action="AddFinding">Dodaj znalezisko</a>
                    <a asp-controller="Authorisation" asp-action="Logout">Wyloguj</a>
                    <div>
                        @{
                            var imgpath = $"/ProfilePicture/{ViewBag.ProfilePicture}";
                            <img src="@imgpath"/>
                            <p>@User.Identity.Name</p>
                        }
                    </div>
                }
                else
                {
                    <a asp-controller="Authorisation" asp-action="Login">Zaloguj się</a>
                    <a asp-controller="Authorisation" asp-action="Register">Zarejestruj się</a>
                }
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
