@model FindingViewModel
@{
    ViewBag.FindingId = Model.FindingId;
}
<div class="finding">
    <div class="diggs-counter">
        @(Model.Diggs.Count - Model.Buries.Count)
    </div>
    <div class="picture">
        <img src="@($"/Findings/{Model.ImageName}")"/>
    </div>
    <div class="finding-content">
        <h4><a href=@($"https://{Model.Link}")>@Model.Title</a></h4>

        <div class="tags">
            @@@Model.Creator.UserName
        </div>

        <p>
            @Model.Description
        </p>
    </div>
</div>

<div class="comment-section">
    
    @foreach (var comment in Model.Comments)
    {
        <div class="comment-container">
            @{
                await Html.RenderPartialAsync("_Comment", comment);
            }
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {
        await Html.RenderPartialAsync("_CommentForm", new CommentViewModel {FindingId = Model.FindingId});
    }
</div>