div.comment {
    display: flex;
    width: 100%;
}

div.comment-section{
    margin-top: 5px;
}

div.comment .creator img{
    height: 75px;
    margin: 2px;
}

div.comment .content{
    width: 100%;
    margin-right: 5px;
}

div.comment .content .username{
    color: wheat;
    padding: 3px;
    width: 100%;
}

div.comment .content p{
    color: aliceblue;
    margin: 2px;
    margin-bottom: 5px;
}

div.comment .content img{
    max-width: 100%;
    max-height: 100%;
}

form.comment {
    margin: 5px;
}
form.comment input, form.comment textarea{
    margin: 2px;
}

form.comment textarea{
    background-color: dimgray;
    color: aliceblue;
    height: 75px;
    font-size: 16px;
    font-family: Arial;
    padding: 7px;
}

form.comment div{
    display: flex;
    flex-direction: column;
}

div.subcomments{
    display: flex;
    flex-direction: column;
}

div.subcomments > div{
    display: flex;
}

div.subcomments div.filler{
    width: 100px;
}

div.comment-container {
    border-bottom: rgb(34, 33, 33) solid 4px;
}

.top {
    display: flex;
    border-bottom: solid rgb(135, 135, 135) 2px;
    padding: 2px;
}

.reactions, .reactions form{
    display: flex;
}

.reactions{
    font-size: 20px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

.reactions form{
    margin: 5px;
}

.reactions form button{
    width: 30px;
    height: 30px;
    background-color: rgb(79, 79, 79);
    border-radius: 12px;
    border: 2px solid;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reactions form button.plus{
    color: forestgreen;
    border-color: forestgreen;
}

.reactions form button.minus{
    color: darkred;
    border-color: darkred;
    padding-bottom: 3px;
}

.reactions form button:hover{
    color: antiquewhite;
    border-color: antiquewhite;
}