@model MikroblogViewModel

<div class="post-list">
    @foreach(var post in Model.Posts)
    {
        await Html.RenderPartialAsync("_Post", post);
    }
</div>

@if(User.Identity.IsAuthenticated)
{
    await Html.RenderPartialAsync("_PostForm", new MikroblogPostViewModel());
}